button::-moz-focus-outer {
  border: 0;
  padding: 0;
}

.boxCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.pageItem {
  display: inline-block;
  border: 1px solid #3a80ba;
  background-color: #3a80ba;
  color: #fff;
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 15px;
  padding-right: 12px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.pageItemDisable {
  display: inline-block;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  color: #1a1a1a;
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 15px;
  padding-right: 12px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.disableCursorPointer {
  display: inline-block;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  color: #f1f1f1;
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 15px;
  padding-right: 12px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.liNum {
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 25px;
}

.listNum {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.slider_btn_right {
  width: 48px;
  height: 48px;
  opacity: 0.651;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  background-color: #fff;
  z-index: 5;
}

.slider_btn_right_disable {
  width: 48px;
  height: 48px;
  opacity: 0.651;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  background-color: #fff;
  z-index: 5;
  pointer-events: none;
}

.slider_btn_right:focus {
  outline: none;
}

.arrow_right {
  display: inline-block;
  position: relative;
  top: 10%;
  right: 30%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #3a80ba;
  border-bottom: 3px solid #3a80ba;
  transform: rotate(315deg);
}

.arrow_right_disable {
  display: inline-block;
  position: relative;
  top: 10%;
  right: 30%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  transform: rotate(315deg);
  pointer-events: none;
}

.slider_btn_left {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  opacity: 0.651;
  border: none;
  cursor: pointer;
  background-color: #fff;
  z-index: 5;
}

.slider_btn_left_disable {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  opacity: 0.651;
  border: none;
  cursor: pointer;
  background-color: #fff;
  z-index: 5;
  pointer-events: none;
}

.slider_btn_left:focus {
  outline: none;
}

.arrow_left {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 30%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #3a80ba;
  border-bottom: 3px solid #3a80ba;
  transform: rotate(135deg);
}

.arrow_left_disable {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 40%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  transform: rotate(135deg);
  pointer-events: none;
}
