.boxCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.counter {
  text-align: center;
  width: 335px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
  padding-left: 160px;
  padding-right: 160px;
}

.listNum {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.slider_btn_right {
  width: 48px;
  height: 48px;
  opacity: 0.651;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  background-color: #fff;

  z-index: 5;
}

.arrow_right {
  display: inline-block;
  position: relative;
  top: 10%;
  right: 30%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #3a80ba;
  border-bottom: 3px solid #3a80ba;
  transform: rotate(315deg);
}

.arrow_right_disable {
  display: inline-block;
  position: relative;
  top: 10%;
  right: 30%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  transform: rotate(315deg);
}

.slider_btn_left {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  opacity: 0.651;
  border: none;
  cursor: pointer;

  background-color: #fff;
  z-index: 5;
}
.arrow_left {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 40%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #3a80ba;
  border-bottom: 3px solid #3a80ba;
  transform: rotate(135deg);
}

.arrow_left_disable {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 40%;
  width: 16px;
  height: 16px;
  background: transparent;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  transform: rotate(135deg);
}
/* .slider_wrp {
  width: 1440px;
  margin: auto;
  position: absolute;
  top: 78px;
  left: 0;
  bottom: 280px;
  right: 0;
  z-index: 10;
  background-color: rgb(73, 124, 107);
}

.arrow_right {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-top: 10px;
  background: transparent;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  z-index: 0;
}
.arrow_left {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: transparent;
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 0 3px 0 3px;
  z-index: 0;
}

.slider_btn_right {
  margin-left: 15px;
  width: 48px;
  height: 48px;
  position: absolute;
  border: none;
  right: 548px;
  top: 15px;
  opacity: 1;
  background-color: #fff;
  cursor: pointer;
  transform: rotate(-45deg);
  z-index: 10;
}
.slider_btn_left {
  margin-left: 15px;
  width: 48px;
  height: 48px;
  position: absolute;
  border: none;
  left: 548px;
  top: 15px;
  opacity: 1;
  cursor: pointer;
  transform: rotate(-225deg);
  z-index: 10;
  background-color: #fff;
}

.slider_btn_right:hover .arrow_right {
  border-right: 3px solid #3a80ba;
  border-bottom: 3px solid #3a80ba;
  opacity: 1;
  z-index: 0;
}

.slider_btn_left:hover .arrow_left {
  border-right: 3px solid #3a80ba;
  border-bottom: 3px solid #3a80ba;
  opacity: 1;
  z-index: 0;
}

.boxCounter {
  background-color: lawngreen;
  z-index: 0;
} */
/*  */
