.wrpHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3a80ba;
}

.appco {
  width: 1180px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.appCoFont {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}
